<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hotnono.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C0758F621142DD7005F9143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C07590A21142DD8005F9143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C07591521142DD8005F9143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
